{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'topnavbar.html' %}
{% include 'sidebar.html' %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <form action="" method="post">
                {% csrf_token %}
                <strong class="text-dark">Are you sure want to delete {{item}}?</strong><br>
                <input class="btn btn-danger" type="submit" value="confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}