{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'topnavbar.html' %}
{% include 'sidebar.html' %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Daily inventory</h4>
            <div>
                <a href="{% url 'addinventory' %}" class="btn btn-primary mb-4"><i class="la la-plus"></i> Add inventory</a>
            </div>
            {% include '_alerts.html' %}

            <div class="card">
                        <div class="card-header">
                            <div class="card-title">Update/View inventory</div>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table  table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Quantity available</th>
                                        
                                        
                                        
                                        
                    
                                        
                    
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for inventorys in inventory %}    
                                    <tr>
                                        
                                        <td>{{inventorys.name}}</td>
                                        <td>{{inventorys.quantity}}</td>
                                        <td><a href="{% url 'editinventory' inventorys.id %}" type="button" class="btn btn-success">Edit</a></td>
                                        <td><a href="{% url 'deleteinventory' inventorys.id %}" type="button" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
</div>
{% endblock %}